---
layout: default
permalink: /categories/
---

<div class="post">
    <article class="post-block">
        <h1 class="post-title">{{ site.data.i18n[site.language].categories }}</h1>
        
        <div class="post-content">
            {% assign categories = site.categories | sort %}
            {% for category in categories %}
                <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
                <ul>
                {% for post in category[1] %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </article>
</div>
