@charset "utf-8";

@use "_partial/normalize";
@use "_partial/base";
@use "_partial/header";
@use "_partial/home-post-list";
@use "_partial/archive-post-list";
@use "_partial/post";
@use "_partial/footer";
@use "_partial/mq";
@use "_partial/copyright";

@font-face {
    font-family: 'sourcesanspro';
    src: url('../fonts/sourcesanspro.woff2') format('woff2'),
         url('../fonts/sourcesanspro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
